.inline {
    display: inline-block;
}

.block {
    display: block;
}

.left {
    float: left;
}

.right {
    float: right;
}

.clearfix {
    display: inline-block;

    &:after {
        content: ".";
        display: block;
        clear: both;
        visibility: hidden;
        line-height: 0;
        height: 0;
    }
}

.show {
    display: block;
}

.hide {
    display: none;
}


.block-center {
    display: block;
    margin-right: auto;
    margin-left: auto;
}

.block-middle {
    min-height: 6.5em;
    display: table-cell;
    vertical-align: middle;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.text-center {
    text-align: center;
}

.text-justify {
    text-align: justify;
}