@media screen and (min-width: 34em) {
    .show-sm {
        display: block;
    }

    .hide-sm {
        display: none;
    }
}

@media screen and (min-width: 48em) {
    .show-md {
        display: block;
    }

    .hide-md {
        display: none;
    }
}

@media screen and (min-width: 62em) {
    .show-lg {
        display: block;
    }

    .hide-lg {
        display: none;
    }
}

@media screen and (min-width: 75em) {
    .show-xl, .show-only-xl {
        display: block;
    }

    .hide-xl, .hide-only-xl {
        display: none;
    }
}

@media (max-width: 33.9em) {
    .show-only-xs, .show-xs {
        display: block;
    }

    .hide-only-xs {
        display: none;
    }
}

@media (min-width: 34em) and (max-width: 47.9em) {
    .show-only-sm {
        display: block;
    }

    .hide-only-sm {
        display: none;
    }
}

@media (min-width: 48em) and (max-width: 61.9em) {
    .show-only-md {
        display: block;
    }

    .hide-only-md {
        display: none;
    }
}

@media (min-width: 62em) and (max-width: 75em) {
    .show-only-lg {
        display: block;
    }

    .hide-only-lg {
        display: none;
    }
}